:root {
    --strong-cyan: hsl(172, 67%, 45%);
    --very-dark-cyan: hsl(183, 100%, 15%);
    --very-dark-cyan-disable:hsl(184, 93%, 18%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --grayish-cyan: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --very-light-grayish-cyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
    --font: 'Space Mono', monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font);
    background: var(--light-grayish-cyan);
    padding: 20px;
}

.container {
    max-width: 900px;
    margin: auto;
    text-align: center;
}

h1 {
    letter-spacing: 10px;
    color: var(--dark-grayish-cyan);
    margin-bottom: 30px;
}

.calculator {
    display: flex;
    gap: 20px;
    background: var(--white);
    padding: 20px;
    border-radius: 15px;
    flex-wrap: wrap;
    box-shadow: 2px 0px 10px var(--dark-grayish-cyan);
}

.input-area,
.result-area {
    flex: 1 1 300px;
}

label {
    display: block;
    margin-top: 20px;
    color: var(--dark-grayish-cyan);
    font-size: 14px;
    text-align: left;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    font-size: 24px;
    border: none;
    background: var(--very-light-grayish-cyan);
    border-radius: 5px;
    text-align: right;
}

.tip-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 10px;
}

.tip-btn {
    padding: 10px;
    font-size: 20px;
    background: var(--very-dark-cyan);
    color: var(--white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.tip-btn.active,
.tip-btn:hover {
    background: var(--strong-cyan);
}

.result-area {
    background: var(--very-dark-cyan);
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.result p {
    color: var(--white);
}

.area {
    text-align: left;
}

.amount {
    font-size: 32px;
    color: var(--strong-cyan);
}

#tip-amount,
#total-amount{
    color: var(--strong-cyan);
    text-align: right;
    margin-top: -50px;
}

p{
    margin-top: 20px;
}

#reset-btn {
    margin-top: 20px;
    padding: 15px;
    background: var(--strong-cyan);
    color: var(--very-dark-cyan);
    border: none;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
}

#reset-btn:disabled {
    background: var(--very-dark-cyan-disable);
    cursor: not-allowed;

}

.hidden {
    display: none;
}

#error-msg {
    border: 2px solid rgb(164, 68, 68);
    &::after{
        content: "Can't be zero";
    }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
